<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/256/full/nodejslogo.png"
    type="image/x-icon">
  <title>Node App</title>
</head>

<body bgcolor="black">
  <center>
    <br /><br />
    <img src="under-construction.png" alt="logo" height='auto' width="200" />
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:white;font: 30px;">This site is under
      construction, come back later</h1>
  </center>

</body>

</html>